body{
    background: url('images.jpg');
    background-size: 1000px;
}

h1{
    font-family: 'Assistant', sans-serif;
    font-size: 60pt;
    margin-bottom: -10px;
}

.judul{
    margin-top: 5rem;
}


.form-group .form-control{
    border-radius: 10px 0px 0px 10px;
}

.padding-0{
    padding-left: 0px;
    padding-right: 0px;
}

.btn{
    border-radius: 0px 10px 10px 0px;
    font-family: 'Assistant', sans-serif;
}

p{
    font-family: 'Assistant', sans-serif;
}

.batas{
    margin-top: 50px;
    margin-bottom: 50px;
}